# {{ ansible_managed }}
---
version: "3"

services:
  mqtt:
    container_name: mqtt
    image: eclipse-mosquitto:2.0
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - "./data:/mosquitto"
      - "./mosquitto.conf:/mosquitto.conf"
    restart: unless-stopped
    user: "0:0"
    command: "mosquitto -c /mosquitto.conf"
