# {{ ansible_managed }}
---
version: "3"

services:
  nodered:
    container_name: node-red
    image: nodered/node-red:2.2.3-12
    ports:
      - "1880:1880"
    volumes:
      - "./data/:/data"
    restart: unless-stopped
    # Doesn't seem to have any effect in permission error addressed in node-red.yml
    user: "1000:1000"
{% if traefik_enable and domain_name_enable and domain_name and domain_nodered %}    
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.node_red.rule=Host(`{{ domain_nodered }}.{{ domain_name }}`)"
      - "traefik.http.routers.node_red.entrypoints=web"    
{% endif %}
