# {{ ansible_managed }}
---
version: "3"

services:
  influxdb:
    container_name: telegraf
    image: telegraf:1.25-alpine
    depends_on:
      - influxdb    
    ports:
      - "998:998"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: '{{ influxdb_mode }}'
      DOCKER_INFLUXDB_INIT_USERNAME: '{{ influxdb_username }}'
      DOCKER_INFLUXDB_INIT_PASSWORD: '{{ influxdb_password }}'
      DOCKER_INFLUXDB_INIT_ORG: '{{ influxdb_org }}'
      DOCKER_INFLUXDB_INIT_BUCKET: '{{ influxdb_bucket }}'
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: '{{ influxdb_admin_token }}'
      DOCKER_INFLUXDB_INIT_RETENTION: '{{ influxdb_retention }}'

    volumes:
      - './telegraf/:/etc/telegraf/'
    restart: unless-stopped
