# {{ ansible_managed }}
---
version: "3.3"
services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      #- "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      #- "--certificatesresolvers.myresolver.acme.dnschallenge.provider=ovh"
      #- "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      #- "--certificatesresolvers.myresolver.acme.email=postmaster@example.com"
      #- "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"    
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      #   - "OVH_ENDPOINT=xxx"
      #   - "OVH_APPLICATION_KEY=xxx"
      #   - "OVH_APPLICATION_SECRET=xxx"
      #   - "OVH_CONSUMER_KEY=xxx"      

    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "./data-letsencrypt:/letsencrypt"
      - "./data-config/:/config"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"